/* =========================
   PRICING SECTION
========================= */
.pricing {
  padding: 6rem 0;
  /* border: 2px solid red; */
  background: var(--bg-main);
}

/* CONTAINER */
.pricing-container {
  /* border: 2px solid blue; */
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  gap: 8rem;
  align-items: center;
}

/* LEFT CONTENT */
.pricing-info {
  max-width: 460px;
  /* border: 2px solid purple; */
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.pricing-title {
  font-size: 2.6rem;
  color: var(--text-primary);
  margin-bottom: 1rem;
  /* border: 2px solid yellow; */
}

.pricing-desc {
  font-size: 1rem;
  color: var(--text-secondary);
  margin-bottom: 1.2rem;
  line-height: 1.7;
  /* border: 2px solid orange; */
}

.pricing-note {
  font-size: 0.9rem;
  color: var(--text-secondary);
  /* border: 2px solid brown; */
}

/* RIGHT CONTENT */
.pricing-cards-wrapper {
  position: relative;
  height: 520px;
  /* border: 2px solid red; */
}

/* PRICING CARD */
.pricing-card {
  background: var(--bg-card);
  border-radius: 26px;
  padding: 2.4rem 2rem;
  box-shadow: var(--shadow-soft);
  text-align: center;
  max-width: 360px;
}

/* POPULAR */
.popular-badge {
  display: inline-block;
  margin-bottom: 0.8rem;
  background: var(--primary);
  color: #fff;
  padding: 0.35rem 1.2rem;
  border-radius: 999px;
  font-size: 0.75rem;
}

/* TEXT */
.pricing-card h3 {
  font-size: 1.4rem;
  color: var(--text-primary);
}

.price {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--primary);
  margin: 0.5rem 0;
}

.subtitle {
  font-size: 0.9rem;
  color: var(--text-secondary);
  margin-bottom: 1.5rem;
}

/* FEATURES */
.pricing-card ul {
  list-style: none;
  padding: 0;
  margin: 0 0 1.8rem;
}

.pricing-card li {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  color: var(--text-secondary);
}

/* BUTTON */
.pricing-btn {
  background: var(--primary);
  color: #fff;
  padding: 0.9rem 2.4rem;
  border-radius: 999px;
  transition: all 0.3s ease;
}

.pricing-btn:hover {
  transform: translateY(-2px) scale(1.03);
}

/* HIGHLIGHT */
.pricing-card.highlight {
  border: 2px solid var(--accent);
}
.showmobile{
    display: none;
  }

/* =========================
   MOBILE RESPONSIVE
========================= */
@media (max-width: 900px) {
  .pricing-container {
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }

  .pricing-info {
    max-width: 100%;
  }

  .pricing-title {
    font-size: 2.1rem;
  }

  .pricing-desc {
    font-size: 0.95rem;
  }

  .pricing-cards-wrapper {
    height: 480px;
    margin-top: 2.5rem;
  }
  
}
@media (max-width: 768px) {
  .pricing-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .pricing-info {
   display: none;
  }
  .pricing-cards-wrapper {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    
    height: 480px;
  }
  .showmobile{
    display: grid;
    margin-bottom: -5rem;
  }
}
