/* SECTION */
.pricing {
  padding: 6rem 0;
  background: var(--bg-main);
  text-align: center;
}

/* TITLE */
.pricing-title {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: var(--text-primary);
}

/* GRID */
.pricing-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/* CARD */
.pricing-card {
  background: var(--bg-card);
  border-radius: 26px;
  padding: 2.3rem 1.8rem;
  box-shadow: var(--shadow-soft);
  color: var(--text-primary);
  position: relative;
  transition: transform 0.35s ease;
}

.pricing-card:hover {
  transform: translateY(-8px);
}

/* POPULAR */
.popular-badge {
  position: absolute;
  top: -14px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--primary);
  color: #fff;
  padding: 0.35rem 1.2rem;
  border-radius: 999px;
  font-size: 0.75rem;
}

/* TEXT */
.price {
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--primary);
}

.subtitle {
  color: var(--text-secondary);
  margin-bottom: 1.5rem;
}

/* FEATURES */
.pricing-card li {
  font-size: 0.9rem;
  list-style: none;
  color: var(--text-secondary);
}

/* BUTTON */
.pricing-btn {
  background: var(--primary);
  color: #fff;
  padding: 0.8rem 2.2rem;
  border-radius: 999px;
  transition: 0.3s;
  margin-top: 10px;
}

.pricing-btn:hover {
  transform: scale(1.05);
}

/* HIGHLIGHT */
.pricing-card.highlight {
  border: 2px solid var(--accent);
}

/* MOBILE */
@media (max-width: 900px) {
  .pricing-cards {
    grid-template-columns: 1fr;
  }
  .pricing-title{
    font-size: 2rem;
  }
}
