
.about-page {
  padding: 3rem 5%;
  min-height: calc(100vh - 80px);
  background-color: var(--bg-main);
  display: flex;
  justify-content: center;
}

.about-container {
  width: 100%;
  max-width: 1100px;
}


.about-header {
  text-align: center;
  margin-bottom: 3rem;
}
.about-header span{
  color: var(--primary);
}

.about-header h2 {
  font-size: 2rem;
  color: var(--text-primary);
  margin-bottom: 0.6rem;
}

.about-header p {
  color: var(--text-secondary);
  font-size: 0.95rem;
}


.about-content {
  display: grid;
  gap: 2rem;
}

.about-card {
  background-color: var(--bg-card);
  padding: 2rem;
  border-radius: 22px;
  border: 1px solid var(--border-light);
  box-shadow: var(--shadow-soft);
}

.about-card h3 {
  margin-bottom: 0.8rem;
  color: var(--primary);
  font-size: 1.2rem;
}

.about-card p {
  font-size: 0.9rem;
  color: var(--text-secondary);
  line-height: 1.6;
  margin-bottom: 0.6rem;
}

.about-card ul {
  padding-left: 1rem;
  color: var(--text-secondary);
  font-size: 0.9rem;
}

.about-card li {
  margin-bottom: 0.5rem;
}

.about-note {
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 22px;
  background-color: var(--bg-section);
  border: 1px dashed var(--primary);
}

.about-note h4 {
  margin-bottom: 0.6rem;
  color: var(--primary);
}

.about-note p {
  font-size: 0.85rem;
  color: var(--text-secondary);
  line-height: 1.6;
}


@media (max-width: 768px) {
  .about-page {
    padding: 2rem 1.2rem;
  }

  .about-card {
    padding: 1.5rem;
  }

  .about-note {
    padding: 1.5rem;
  }
}