.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #2B1B17;
  padding: 1rem 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #3A2A25;
}

/* LOGO */
.navbar-logo {
  font-family: 'Playfair Display', serif;
  font-size: 1.9rem;
  font-weight: 700;
  color: #F9FAFB;
  cursor: pointer;
}

.navbar-logo span {
  color: #E11D48;
}

/* BUTTON */
.nav-btn {
  padding: 0.5rem 1.6rem;
  border-radius: 999px;
  border: 1px solid #E11D48;
  background: transparent;
  color: #E11D48;
  transition: all 0.3s ease;
}

.nav-btn:hover {
  background-color: #E11D48;
  color: #fff;
}

/* PROFILE */
.user-profile{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.cart-img{
  cursor: pointer;
}
.profile-wrapper {
  position: relative;
  cursor: pointer;

}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #E11D48;
}

/* DROPDOWN */
.profile-dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #2B1B17;
  border: 1px solid #3A2A25;
  border-radius: 10px;
  width: 140px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: 200;
}

.profile-dropdown p {
  padding: 10px 14px;
  margin: 0;
  color: #F9FAFB;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background 0.2s;
}

.profile-dropdown p:hover {
  background-color: #E11D48;
}

@media (max-width: 900px) {
  .navbar-menu {
    display: none;
  }
}
