.cake-showcase {
  padding: 6rem 0;
  background: rgb(252, 220, 225);
  overflow: hidden;
}

.section-title {
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 2.8rem;
}

/* Swiper container */
.cake-swiper {

}

/* Each slide */
.card-cake {
  width: 280px !important; /* important for slidesPerView:auto */
  background: rgb(252, 220, 225);
  border-radius: 22px;
  overflow: hidden;
  box-shadow: var(--shadow-soft);
  transition: 0.3s;
}

.card-cake:hover {
  transform: translateY(-6px);
}

/* Image */
.card-cake img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.cake-information {
  padding: 1.1rem;
}

.cake-desc {
  font-size: 0.9rem;
}

/* mobile */
@media (max-width: 768px) {
  .card-cake {
    width: 240px !important;
  }
  .section-title{
    font-size: 2.1rem;
  }
}
