.cake-showcase {
  padding: 6rem 0;
  background: rgb(252, 220, 225);
  overflow: hidden;
}

.section-title {
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 2.8rem;
}

.card-cake {
  width: 280px !important;
  background: rgb(252, 220, 225);
  border-radius: 22px;
  overflow: hidden;
  box-shadow: var(--shadow-soft);
  transition: 0.3s;
  margin-bottom: -2px;
}

.card-cake:hover {
  transform: translateY(-6px);
}

.card-cake img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.cake-information {
  padding: 1.1rem;
}
.cake-information h3{
  color: var(--text-primary);
}
.cake-information h4{
  font-size: 0.9rem;
  color: var(--primary);
  font-weight: 600;
  font-family: 'Trebuchet MS';
}

.cake-desc {
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .card-cake {
    width: 240px !important;
  }
  .section-title{
    font-size: 2.1rem;
  }
}
