.hero {
  background: linear-gradient(
    135deg,
    #2B1B17 0%,
    #3E2723 50%,
    #4E342E 100%
  );
  padding: 4rem 0;
}

.hero-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
}

/* TEXT */
.hero-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hero-badge {
  background-color: rgba(251, 191, 36, 0.15);
  color: #FBBF24;
  width: fit-content;
  padding: 0.4rem 1rem;
  border-radius: 20px;
  font-size: 0.85rem;
}

.hero-text h1 {
  font-size: 3.5rem;
}

.hero-text h1 span {
  color: #E11D48;
}

.hero-text p {
  max-width: 480px;
}

/* BUTTONS */
.hero-actions {
  display: flex;
  gap: 1rem;
}

.primary-btn {
  background-color: #E11D48;
  color: white;
  padding: 0.8rem 2rem;
  border-radius: 999px;
  transition: 0.3s;
}

.primary-btn:hover {
  background-color: #be123c;
  transform: translateY(-2px);
}

.secondary-btn {
  border: 1px solid #FBBF24;
  color: #FBBF24;
  background: transparent;
  padding: 0.8rem 2rem;
  border-radius: 999px;
}

.secondary-btn:hover {
  background-color: rgba(251, 191, 36, 0.1);
}




/* IMAGE */
.hero-image img {
  width: 100%;
  border-radius: 24px;
  box-shadow: 0 25px 50px rgba(0,0,0,0.5);
}

@media (max-width: 900px) {
  .hero-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .hero-text h1 {
  font-size: 3rem;
}
}
