.bounceCardsContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
}

.card {
  position: absolute;
  width: 300px;
  background-color: #FFF6EA;
  aspect-ratio: 1;
  border: 5px solid #fff;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 4px 10px #FFF6EA(0, 0, 0, 0.2);
}

.card .image {
  width: 110%;
  height: 100%;
  background: #FFF6EA;
  object-fit: cover;
  margin-left: -60px;
}

@media (max-width: 330px) {
  
.card .image{
  width: 100%;
  scale: calc(1.5);
  margin-left: 7px;
}
}

